<h1>Add a New Code Snippet</h1>

<% if params[:snippet_id] != nil %>
	<strong> <%= params[:notice] %></strong>

	<%= build_link(parmas[:snippet_id]) %>
<%end%>	

<%= render 'form' %>
	

<%= link_to 'Back', :controller => 'snip', :action => 'index' %>
